
<%= provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Maintain your expenses</h1>
	<h2>You are one step away from your responsibility.</h2>
	<%= link_to "Sign Up with us", '#', class: "btn btn-lg btn-primary" %>
</div>