<% provide(:title, "Income") %>
<h1>Income Listing</h1>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>SN.</th>
				<th>Date</th>
				<th>Description</th>
				<th>Category</th>
				<th>Amount</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</thead>

		<tbody class="income">
			<%= render "index" %>
		</tbody>
	</table>